---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <h1
		class="bg-orange-500 p-20 text-5xl font-extrabold text-white flex justify-center items-center"
		id="test"
	>
		test
	</h1> -->

	<!-- <button class="p-10 bg-cyan-300" id="button"> </button> -->
</Layout>

<script>
	let name: string = "leopold";

	function printName() {
		console.log("hey my name is: " + name);
	}
	const buttons = document.querySelector("button");
	buttons?.addEventListener("click", printName);
</script>
