---
import LayoutCards from "../layouts/LayoutCards.astro";
import LayoutBulletpoint from "../layouts/LayoutBulletpoint.astro";
---

<LayoutCards title="Education">
    <LayoutBulletpoint
        firmName="Technische Universität Berlin"
        date="since 2020"
        location="Berlin, Germany"
    >
        <div slot="title">B.Sc. Informatik</div>

        <ul class="list-disc pl-5">
            <li>anticipated graduation in 4 semesters</li>
        </ul>
    </LayoutBulletpoint>

    <LayoutBulletpoint
        firmName="Technische Universität Berlin"
        date="2019 - 2020"
        location="Berlin, Germany"
    >
        <div slot="title">Orientierungsstudium MintGrün</div>

        <ul class="list-disc pl-5">
            <li>focus on java and algorithms</li>
        </ul>
    </LayoutBulletpoint>

    <LayoutBulletpoint
        firmName="Leibniz Gymnasium"
        date="2013 - 2019"
        location="Berlin, Germany"
    >
        <div slot="title">Abitur</div>
    </LayoutBulletpoint>
</LayoutCards>
