---
import LayoutCards from "../layouts/LayoutCards.astro";
import LayoutBulletpoint from "../layouts/LayoutBulletpoint.astro";
---

<LayoutCards title="Skills">
    <LayoutBulletpoint
        firmName="HTML, CSS, TailwindCSS, React, TanstackQuery, Astro"
        date=""
        location=""
    >
        <div slot="title">Frontend</div>
    </LayoutBulletpoint>

    <LayoutBulletpoint firmName="RestAPIs, PostgreSQL" date="" location="">
        <div slot="title">Backend</div>
    </LayoutBulletpoint>

    <LayoutBulletpoint
        firmName="Java, Microsoft Office Suite"
        date=""
        location=""
    >
        <div slot="title">Additionally</div>
    </LayoutBulletpoint>

    <LayoutBulletpoint firmName="German (native), English (fluent)">
        <div slot="title">Natural Languages</div>
    </LayoutBulletpoint>
</LayoutCards>
