<div
	id="container"
	class="flex justify-between ml-[10%] mr-[10%] text-green-100"
>
	<div class="p-2 text-lg flex flex-col gap-2">
		<h1 class="bg-green-900 font-bold">Leopold Blum</h1>
		<h2 class="bg-green-900">Student</h2>
	</div>

	<div
		class="bg-orange-400 flex flex-row gap-5 justify-evenly items-baseline-last p-2 text-lg"
	>
		<div>@</div>
		<div>G</div>
		<div>In</div>
	</div>
</div>
