<div class="flex justify-between">
	<div class="p-2 pl-0 flex flex-col">
		<h1 class="text-text-main">Leopold Blum</h1>
		<h2 class="text-text-secondary">Student</h2>
	</div>

	<div
		class="flex flex-row gap-4 justify-evenly items-baseline-last p-2 text-text-secondary"
	>
		<a
			href="mailto:leopold.blum@gmx.de"
			class="hover:underline underline-offset-8"
			target="_blank"
		>
			[mail]</a
		>

		<a
			href="https://github.com/leopoldblum"
			class="hover:underline underline-offset-8"
			target="_blank"
		>
			[github]
		</a>

		<!-- <a class="hover:underline underline-offset-8" target="_blank">
			[linkedin]
		</a> -->
	</div>
</div>
