---
const { firmName, date, location } = Astro.props;
---

<div class="p-2 pl-0">
    <div class="flex justify-between break-normal">
        <div class="flex flex-col flex-grow">
            <h1 class="text-text-main">
                <slot name="title" />
            </h1>
            <h2 class="text-text-secondary">{firmName}</h2>
        </div>

        <div class="flex-none ml-4 lg:ml-20">
            <h2 class="text-text-main text-right">{date}</h2>
            <h2 class="text-text-secondary text-right hidden lg:block">
                {location}
            </h2>
        </div>
    </div>

    <h3 class="text-text-secondary mt-1">
        <slot />
    </h3>
</div>
